body {
  background-image: url(./images/kiwihug-zGZYQQVmXw0-unsplash.jpg);
  background-position: center;
  background-repeat: repeat;
}

.navigation {
  display: flex;
  justify-content: flex-end;
  margin-right: 2rem;
}

.navigation ul {
  display: flex;
  flex-direction: row;
  align-content: flex-end;
  column-gap: 25px;
}
nav ul li {
  list-style: none;
}

.nav-list-item {
  font-size: 20px;
  text-decoration: none;
  font-weight: 500;
}

.nav-list-item span {
  padding-left: 10px;
  color: #000000;
}
